@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Libre Baskerville", serif;
}

:root {
  --bg-cream: #f9f8f3;
  --ink: #141414;
}

body {
  background-color: var(--bg-cream);
  color: var(--ink);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}
